/////////////////////////////////////////////////////////////////////////////////////////////////////////
// Primary navigation
///////////////////////////////////////////////////////////////////////////////////////////////////////// 

%span-menu {
    background:#292929;
    border-radius: 1px;
    content: "";
    cursor: pointer;
    display: block;
    height: 3px;
    position: absolute;
    width: 27px;

    -o-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease-in 0s;
}

.main-nav { 
    width: 82px;
    height: 72px;
    cursor: pointer;
    float: left;
    @media screen and (max-width: 1024px) {
        width: 60px;
        height: 56px;
    }     
    &:hover span { 
        background-color: transparent;
        &:before {
         	top:0;
     	    left:0; 
            
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
         	top:0;
     	    left:0; 
            
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);            
        }
    }
    span {
      @extend %span-menu; 
      top: 35px;
      left: 28px;
      top: 32px;
        @media screen and (max-width: 1024px) {
            top: 26px;
            left: 17px;
        }         
      
      &:before {
          top:-8px;
          @extend %span-menu;
      }
      &:after {
          @extend %span-menu; 
          
          bottom:-8px;
      }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// Secondary navigation
///////////////////////////////////////////////////////////////////////////////////////////////////////// 

.second-nav { 
    height: 58px; 
    line-height: 58px; 
    border-top: 1px solid #e0e0e0; 
    border-bottom: 1px solid #e0e0e0; 
    padding: 0; 
    margin: 0; 
    font-family: 'Lato', sans-serif; 
    font-weight: 700; 
    background-color: #fafafa; 
    text-transform: uppercase; 
    font-size: 11px;
    .browse {
        display: none;
        @media screen and (max-width: 1024px) {
           display: inline-block;
        }        
        a {
            color: #412021;            
        }
    }
    ul { 
        padding: 0; 
        display: inline-block; 
        @media screen and (max-width: 1024px) {
           display: none;
        }         
    }
    .container { padding: 0; }
    li { 
        display: inline-block; 
        padding-right: 53px;  
        a { 
            color: #959595; 
            letter-spacing: 1px; 
            &:hover, &:active {
                color: #412021;
                text-decoration: none;  
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// Footer First navigation
///////////////////////////////////////////////////////////////////////////////////////////////////////// 

footer {
    background-color: #111928;
    nav {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
            @media screen and (max-width: 1024px) {
                font-size: 12px;
            }        
        & ul {
            padding: 0;
            margin: 0;
            & li {
                display: inline-block;
                margin-right: 37px;
                &:last-child {
                    margin-right: 0;
                }
                @media screen and (max-width: 1024px) {
                    margin-right: 30px;
                }
                @media screen and (max-width: 768px) {
                    margin-right: 0px;
                    margin-bottom: 10px;
                    display: block;
                    text-align: center;
                }                
            }
            &.pull-right {
                & li {
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }  
                    @media screen and (max-width: 1024px) {
                        margin-right: 10px;
                    }                    
                }
                a:after {
                    content: ">";
                    padding-left: 6px;
                    position: relative;                    
                }
            }
        }        
        &.first-nav {
            & a {
                color: #cd9a24;
                letter-spacing: 1.5px;                
                &:hover {
                    color: #fff;
                }
            }
        }
        &.secondary-nav {
            margin-top: 15px;
            li {
                margin-right: 37px;
                color: #5b6577;                
                a {                
                    color: #5b6577;
                    letter-spacing: 1.5px;                       
                    &:hover {
                        color: #fff;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }                
                @media screen and (max-width: 1024px) {
                    margin-right: 30px;
                }
                @media screen and (max-width: 768px) {
                    margin-right: 0px;
                    margin-bottom: 10px;
                    display: block;
                    text-align: center;
                }                 
            }
            @media screen and (max-width: 1024px) {
                margin-top: 10px;
            }             
        }
    }      
}

